/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.zeeflex-container a:hover,
.zeeflex-slider a:hover,
.zeeflex-container a:focus,
.zeeflex-slider a:focus {
  outline: none;
}
.zeeslides,
.zeeslides > li,
.zeeflex-control-nav,
.zeeflex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.zeeflex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.zeeflexslider {
  margin: 0;
  padding: 0;
}
.zeeflexslider .zeeslides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.zeeflexslider .zeeslides img {
  width: 100%;
  display: block;
}
.zeeflexslider .zeeslides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .zeeflexslider .zeeslides {
  display: block;
}
* html .zeeflexslider .zeeslides {
  height: 1%;
}
.no-js .zeeflexslider .zeeslides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * Merlin Slider Theme
 * ====================================================================================================================*/

.post-slider-container {
	margin: 0 0 1.8em 0;
}

.post-slider-wrap {
	position: relative;
	background: #eee;
}

.post-slider, .zeeflexslider .zeeslides {
	zoom: 1;
}

.post-slider .zeeslide {
	position: relative;
}

.zeeflex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.post-slider .zeeslide .slide-image {
	float: left;
	max-width: 750px;
	width: 65%;
	max-height: 450px;
	height: auto;
	border-right: 15px solid #44aacc;
	vertical-align: top;
	padding-left: 1px;
}

.post-slider .zeeslide .slide-content {
	float: right;
	width: 35%;
	padding: 1em 2em;
	background: #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.post-slider .zeeslide .entry-title {
	font-size: 1.5em;
}

.post-slider-controls {
	clear: left;
}

/* Direction Nav */
.post-slider-controls .zeeflex-direction-nav {
	*height: 0;
	position: absolute;
	top: 1em;
	left: 1em;
}

.post-slider-controls .zeeflex-direction-nav a {
	display: block;
	position: absolute;
	margin: 0;
	width: 40px;
	height: 40px;
	background: #44aacc;
	text-align: left;
	color #fff;
	font-size: 0;
	cursor: pointer;
	z-index: 10;
}

.post-slider-controls .zeeflex-direction-nav a:hover {
	text-decoration: none;
	background: #444;
}

.post-slider-controls .zeeflex-direction-nav a:before {
	margin: 0.35em;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 24px/1 Genericons;
	text-decoration: inherit;
	vertical-align: text-bottom;
	color: #fff;
}

.post-slider-controls .zeeflex-direction-nav a.zeeflex-next:before {
	content: '\f431';
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
}

.post-slider-controls .zeeflex-direction-nav a.zeeflex-prev:before {
	content: '\f431';
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
	left: 42px;
}

/* Control Nav */
.post-slider-controls .zeeflex-control-nav {
	position: absolute; 
	bottom: 0.3em;
	left: 1em;
}
.post-slider-controls .zeeflex-control-nav li {
	margin: 0 2px;
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}
.post-slider-controls .zeeflex-control-nav li a {
	width: 30px; 
	height: 12px; 
	display: block; 
	background: #fff;
	cursor: pointer; 
	text-indent: -9999px;
}
.post-slider-controls .zeeflex-control-nav li a:hover { 
	background: #44aacc;
}
.post-slider-controls .zeeflex-control-nav li a.zeeflex-active { 
	background: #44aacc;
	cursor: default; 
}



/*============================ MEDIA QUERIES ============================*/
@media only screen and (max-width: 90em) {
	#post-slider {
		width: 64.9%;
	}
	.post-slider-controls .zeeflex-control-nav {
		width: 35.1%;
	}
	#post-slider .zeeslide .post-content .more-link {
		display: none;
	}
}
@media only screen and (max-width: 80em) {
	#post-slider {
		width: 64.8%;	
	}
	.post-slider-controls .zeeflex-control-nav {
		width: 35.2%;
	}
	#post-slider .zeeslide .post-title {
		padding: 0.4em 0.5em;
	}
	#post-slider .zeeslide .post-content {
		max-width: 85%;
	}
}
@media only screen and (max-width: 75em) {
	#post-slider .zeeslide .post-content {
		max-width: 100%;
	}
}
@media only screen and (max-width: 70em) {
	#post-slider {
		width: 64.7%;	
	}
	.post-slider-controls .zeeflex-control-nav {
		width: 35.3%;
	}
	#post-slider .zeeslide .post-content {
		padding: 0.3em 0.8em;
	}
	#post-slider .zeeslide .post-content .entry {
		display: none;
	}
}
@media only screen and (max-width: 60em) {
	#post-slider {
		width: 64.6%;	
	}
	.post-slider-controls .zeeflex-control-nav {
		width: 35.4%;
	}
}
@media only screen and (max-width: 50em) {
	#post-slider {
		width: 64.4%;	
	}
	.post-slider-controls .zeeflex-control-nav {
		width: 35.6%;
	}
	#post-slider .zeeslide .slide-content {
		bottom: 1em;
		left: 0.5em;
		right: 0.5em;
	}
	#post-slider .zeeslide .post-content {
		display: none;
	}
	#post-slider .zeeslide .post-title {
		font-size: 1.2em;
	}
	
	
}
@media only screen and (max-width: 40em) {
	.post-slider-controls .zeeflex-direction-nav {
		top: 60%;
		left: auto;
		right: auto;
		width: 100%;
	}
	.post-slider-controls .zeeflex-direction-nav a {
		position: relative;
		margin: 0;
	}
	.post-slider-controls .zeeflex-direction-nav .zeeflex-prev {
		float: left;
		left: 10px;
	}
	.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
		float: right;
		left: auto;
		right: 18px;
	}
	#post-slider-container {
		padding-right: 1.5em;
	}
	#post-slider {
		padding-right: 0.5em;
	}
	#post-slider, .post-slider-controls .zeeflex-control-nav  {
		clear: left;
		float: none;
		width: 100%;
	}
	.post-slider-controls .zeeflex-control-nav li {
		float: left;
		width: 25%;
		padding: 0 0.5em 0.5em 0;
	}
	#post-slider .zeeslide .image-post-categories {
		top: 1em;
		width: 100%;
	}
	#post-slider .zeeslide .image-post-categories a {
		float: left;
		margin: 0 2px 0 0;
		font-size: 1.0em;
	}
}
@media only screen and (max-width: 30em) {
	#post-slider-container {
		padding: 1.5em 1em 0.5em 1.5em;
	}
	#post-slider .image-post-categories {
		display: none;
	}
	.post-slider-controls .zeeflex-direction-nav {
		top: 55%;
	}
	.post-slider-controls .zeeflex-direction-nav .zeeflex-prev {
		left: 8px;
	}
	.post-slider-controls .zeeflex-direction-nav .zeeflex-next {
		right: 8px;
	}
	#post-slider .zeeslide .post-title {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 28em) {
	.post-slider-controls .zeeflex-direction-nav {
		top: 50%;
	}
}
@media only screen and (max-width: 25em) {
	.post-slider-controls .zeeflex-direction-nav {
		display: none;
	}
}
